#!/bin/bash

if [ ! -x "$(command -v pyenv)" ]; then
    echo "Installing pyenv and pyenv-virtualenv"
    brew install pyenv
    brew install pyenv-virtualenv
    export PYENV_ROOT="$HOME/.pyenv"
    export PATH="$PYENV_ROOT/shims:$PYENV_ROOT/bin:$PATH"
    eval "$(pyenv virtualenv-init -)"
    eval "$(pyenv init --path)"
    eval "$(pyenv init -)"
fi

pyenv install -s 3.9.0
pyenv virtualenv 3.9.0 CS560_venv
pyenv activate CS560_venv

# pyenv virtualenv 3.9.0 CS560-venv
# pyenv activate CS560-venv

# pip install --upgrade pip
# echo "Installing requirements.txt"
# pip install -r requirements.txt
